body, input, textarea, button {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin: 0px;
  background-color:  #e1dad2;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 550px;
  color:  #5e7783;
}

.app--button {
  display: flex;
  justify-content: center;
  align-items: center;
  height:  36px;
  width: 92px;
  background-color:  #5e7783;
  color: #e1dad2;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 550px;
  color: #5e7783;
}
.parent--quiz{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin: 0px;
  background-color:   #e1dad2;
  color: #5e7783;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 600px;
  justify-content: center;
  color: #5e7783;
  
}
.quiz--h1 {
  font-size:  19px;
  color: #5e7783 ;
  display: flex;
  

}
.cards--buttons-div{
  
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  margin-bottom: 25px;
  
}
.cards--buttons {
  font-size: 13px;
  align-items: center;
  font-weight: 700;
  color: #5e7783 ;
  background-color: #e1dad2;
  border-radius: 5px;
  border: 1px solid #5e7783 ;
  cursor: pointer;
}
hr {
  background-color: #5e7783;
  height: 1px;
}

